<html xmlns:wicket>
	<wicket:panel>
		<h2>Maps</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Thumbnail</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr wicket:id="folders">
				<td colspan="2">
					<i class="glyphicon glyphicon-folder-open"></i> <a wicket:id="name"></a>
				</td>
			</tr>
			<tr wicket:id="maps">
				<td wicket:id="name"></td>
				<td><span wicket:id="select"></span></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2"><span wicket:id="back"></span><span wicket:id="unselect"></span></td>
			</tr>
			<tr>
				<td colspan="3">
					<div wicket:id="mapnav"></div>
				</td>
			</tr>
		</tfoot>
	</table>
	</wicket:panel>
</html>
