<html xmlns:wicket>
<wicket:panel>
	<div wicket:id="preview" class="clearfix">
		<wicket:container wicket:id="tokens">
			<img wicket:id="token" class="img-token" />
		</wicket:container>
	</div>

	<form class="form-inline">
		<table class="table">
			<tr>
				<th>Rough</th>
				<th>Precision</th>
			</tr>
			<tr wicket:id="precision">
				<td>
					<div class="form-group">
						<label wicket:for="xlarge">X</label> <input type="number"
							class="form-control" wicket:id="xlarge" />
					</div>
					<div class="form-group">
						<label wicket:for="ylarge">Y</label> <input type="number"
							class="form-control" wicket:id="ylarge" />

					</div>
				</td>
				<td>
					<div class="form-group">
						<label wicket:for="xsmall">X</label> <input type="number"
							class="form-control" wicket:id="xsmall" />
					</div>
					<div class="form-group">
						<label wicket:for="ysmall">Y</label> <input type="number"
							class="form-control" wicket:id="ysmall" />

					</div>
				</td>
			</tr>
		</table>
	</form>
</wicket:panel>
</html>