<html xmlns:wicket>
<wicket:panel>
	<h2>Token States</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Token</th>
				<th>Type</th>
				<th>Health</th>
				<th>Hide</th>
			</tr>
		</thead>
		<tbody>
			<tr wicket:id="tokens">
				<td wicket:id="token"></td>
				<td>
					<div class="btn-group" role="group">
						<wicket:container wicket:id="types">
							<button type="button" wicket:id="button"></button>
						</wicket:container>
					</div>
				</td>
				<td>
					<form wicket:id="health" class="form-inline">
						<div class="form-group">
							<label wicket:for="currentHP">Current HP</label> <input type="number"
								class="form-control" wicket:id="currentHP" />
						</div>
						<div class="form-group">
							<label wicket:for="maxHP">Max HP</label> <input type="number"
								class="form-control" wicket:id="maxHP" />

						</div>
						<button type="submit" class="btn btn-default" wicket:id="update">Update</button>
					</form>
				</td>
				<td><span wicket:id="hide"></span></td>
			</tr>
		</tbody>
	</table>
</wicket:panel>
</html>