<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
	<body>
		<wicket:panel>
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr wicket:id="playlists">
						<td wicket:id="name"></td>
						<td><span wicket:id="play"></span></td>
					</tr>
				</tbody>
				<tr>
					<td colspan="2">
						<div wicket:id="playlistnav"></div>
					</td>
				</tr>
			</table>
		</wicket:panel>
	</body>
</html>
