<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:extend>

	<table class="table">
		<thead>
		<tr>
			<th>Participant</th>
			<th>Type</th>
			<th>Score</th>
			<th>Initiative</th>
			<th>Conditions</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody wicket:id="container">
		<tr wicket:id="participants">
			<td wicket:id="name"></td>
			<td wicket:id="type"></td>
			<td wicket:id="score"></td>
			<td>
				<form wicket:id="total"><input type="number" wicket:id="initiativeField">
					<button type="submit" wicket:id="update" class="btn btn-default">Update</button>
				</form>
			</td>
			<td>
				<ul>
				<li wicket:id="conditions">
					<span wicket:id="description"></span> <wicket:enclosure child="turns">(<span wicket:id="turns"></span> turns remaining)</wicket:enclosure>
					<span wicket:id="edit"></span> <span wicket:id="delete"></span>
				</li>
				</ul>
			</td>
			<td><span wicket:id="select"></span> <span wicket:id="up"></span> <span wicket:id="down"></span>
				<span wicket:id="player"></span>
				<span wicket:id="nonplayer"></span>
				<span wicket:id="condition"></span>
				<span wicket:id="delete"></span></td>
		</tr>
		</tbody>
		<tfoot>
		<tr>
			<td colspan="6">
				<form class="form-inline" wicket:id="participantForm">
					<div class="form-group">
						<input type="text" class="form-control" wicket:id="name"
							   placeholder="Name">
					</div>
					<div class="form-group">

						<input type="number" class="form-control" wicket:id="score"
							   placeholder="Score">
					</div>
					<div class="form-group">
						<select class="form-control" wicket:id="type"></select>
					</div>
					<button type="submit" wicket:id="submit" class="btn btn-default">Add</button>
				</form>
			</td>
		</tr>
		<tr>
			<td colspan="4">
				<form class="form-inline" wicket:id="settingsForm">
					<div class="form-group">
						<input type="number" class="form-control" wicket:id="margin"
							   placeholder="Margin in pixels">
					</div>

					<button type="submit" wicket:id="submit" class="btn btn-default">Update</button>
				</form>
			</td>
		</tr>
		</tfoot>
	</table>

</wicket:extend>
</body>
</html>
