[submodule "src/main/java/com/jeroensteenbeeke/topiroll/beholder/util/compendium/open5e"]
	path = src/main/java/com/jeroensteenbeeke/topiroll/beholder/util/compendium/open5e
	url = git@github.com:eepMoody/open5e.git
