<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
	<div id="exploration-mapoptions" class="btn-group-vertical" role="group">
		<button class="btn btn-info" wicket:id="location" disabled="disabled"></button>
		<button class="btn btn-info" wicket:id="newtoken">Create Token</button>
		<button class="btn btn-light" wicket:id="newnote">Create Note</button>

		<wicket:container wicket:id="hidereveal">
			<button class="btn btn-warning" wicket:id="link">Reveal</button>
		</wicket:container>
		<button class="btn btn-success" wicket:id="gather">Gather player tokens</button>
		<wicket:container wicket:id="links">
			<button class="btn btn-info" wicket:id="map">Transition to</button>
		</wicket:container>
	</div>
</wicket:panel>
</body>
</html>
