<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
	<div id="combat-initiative" class="btn-group-vertical" role="group">
		<button class="btn btn-info" wicket:id="header" disabled="disabled">Initiative</button>
		<button class="btn btn-light" wicket:id="initiative">Initiative order</button>
		<button class="btn btn-info" disabled="disabled" wicket:enclosure="current">Current turn: <span class="badge" wicket:id="current"></span></button>
		<button class="btn btn-default" wicket:id="next">Next</button>
	</div>
</wicket:panel>
</body>
</html>
