<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
	<div id="combat-mapoptions" class="btn-group-vertical" role="group">
		<button class="btn btn-info" wicket:id="location" disabled="disabled"></button>
		<button class="btn btn-info" wicket:id="newtoken">Create Token</button>
		<button class="btn btn-warning" wicket:id="newcirclemarker">Create Circle Marker</button>
		<button class="btn btn-warning" wicket:id="newcubemarker">Create Cube Marker</button>
		<button class="btn btn-warning" wicket:id="newraymarker">Create Ray Marker</button>
		<button class="btn btn-warning" wicket:id="newconemarker">Create Cone Marker</button>
		<button class="btn btn-success" wicket:id="gather">Gather player tokens</button>
	</div>
</wicket:panel>
</body>
</html>
