<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
	<div id="combat-tokenstatus" class="btn-group-vertical" role="group">
		<button class="btn btn-danger" wicket:id="damage">Apply Damage</button>
		<button class="btn btn-success" wicket:id="ally">Mark as Ally</button>
		<button class="btn btn-info" wicket:id="neutral">Mark as Neutral</button>
		<button class="btn btn-warning" wicket:id="enemy">Mark as Enemy</button>
	</div>
</wicket:panel>
</body>
</html>
