
#combat-navigator {
  z-index: 3;
  position: fixed;
  top: 5px;
  left: 5px;
  width: 10%;
}

#combat-initiative {
  z-index: 3;
  position: fixed;
  top: 5px;
  right: 5px;
}

#combat-tokenstatus {
  z-index: 3;
  position: fixed;
  bottom: 5px;
  left: 5px;
}

#combat-modal {
  position: absolute;
  top: 0;
  left: auto;
  right: auto;
}
