<html xmlns:wicket>
<wicket:panel>
	<h2>Cube</h2>

	<form class="form-inline">
		<div class="form-group">
			<label wicket:for="color">Color</label> <input type="text"
				class="form-control" wicket:id="color" />
		</div>

		<div class="form-group">
			<label wicket:for="x">X</label> <input type="number"
				class="form-control" wicket:id="x" />
		</div>
		<div class="form-group">
			<label wicket:for="y">Y</label> <input type="number"
				class="form-control" wicket:id="y" />

		</div>
		<div class="form-group">
			<label wicket:for="r">Extent</label> <input type="number"
				class="form-control" wicket:id="r" />

		</div>
	</form>
</wicket:panel>
</html>