<html xmlns:wicket>
    <wicket:panel>
        <h2>Add Marker</h2>
        <div class="btn-group">
            <div class="btn-group">
                <button type="button" wicket:id="circle" class="btn btn-info">
                    <i class="glyphicon glyphicon glyphicon glyphicon-record"></i> Circle
                </button>
                <button type="button" wicket:id="cone" class="btn btn-info">
                    <i class="glyphicon glyphicon glyphicon glyphicon-triangle-top"></i> Cone
                </button>
                <button type="button" wicket:id="cube" class="btn btn-info">
                    <i class="glyphicon glyphicon glyphicon glyphicon-unchecked"></i> Cube
                </button>
                <button type="button" wicket:id="line" class="btn btn-info">
                    <i class="glyphicon glyphicon glyphicon glyphicon-unchecked"></i> Line / Ray
                </button>
            </div>
        </div>

    </wicket:panel>
</html>